
body {
    background-image: url("../MEDIA/IMAGES/bghome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    
}
.header img {
    float: left;
    width: 100px;
    height: 75px;
}
div.nav {
    margin: .75%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.441);
}

img.icon {
    float: right;
    margin-right: 2%;
    padding: 0%;

}
img.header {
    top: 20px;
    float: left;
    margin: 0%;
    padding: 0%;
    position: absolute;
}
h2{
    color: white;
    min-width:25%;
    max-width: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5.6em;
    font-weight:400;
    margin:100px 0 5px 60px;
    text-shadow: 7px 7px 35px black;  
}
h4{
    color: white;
    min-width:25%;
    max-width: 40%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 0;
    text-shadow: 8px 8px 20px black;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: Helvetica;
}
a:hover {
    color: aqua;
}
h3{
    background-color:#a6e9b4f2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 20%;
    text-align: center;
    padding: 15px 5px;
    border-radius: 10px;
    margin-left: 200px;
    color: black;

}


div.other{
    background-color: #e8e5de;;
    margin-top: 150px;
    padding-bottom: 45px;
}
div.love{
    background-color: #7c897e;
    padding: 25px;
    width: 50%;
    margin: 15px;
}
h5{
    font-size: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(234, 234, 244);
    text-shadow: 8px 8px 20px black;
    font-weight: bolder;
}

div.dogs{
    height: 300px;
    width: 400px;
    background-image: url(../MEDIA/IMAGES/dog.jpeg);
    background-size: cover;
    display: inline-block;
    opacity: 0.75;
    margin: 15px;
}
div.dogs:hover{
    opacity: 1;
}

div.cat{
    height: 300px;
    width: 400px;
    background-image: url(../MEDIA/IMAGES/cat.jpeg);
    background-size: cover;
    display: inline-block;
    opacity: 0.75;
    margin: 15px;
}
div.cat:hover{
    opacity: 1;
}
div.supporters{
    height: 300px;
    width: 400px;
    background-image: url(../MEDIA/IMAGES/stray.jpg);
    background-size: cover;
    display: inline-block;
    opacity: 0.75;
    margin: 15px;
}
div.supporters:hover{
    opacity: 1;
}
h1{
    background-color: #83ab64;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 120px 10px;
    width: 65%;
    color: aliceblue;
    border-radius: 10px;
    border: 1px solid blanchedalmond;  
}
div.rescue{
    background-color: #838b64;
    width: 35%;
    padding: 25px;
    margin-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: white;
    display: inline-block;
}
div.rescue2{
    display: inline-block;
    margin: 50px;
}
img.dog2{
    width: 600px;
    height: 400px;
    opacity: 1;
}
img.cardo{
    margin: 75px 0 0 ;
    width: 600px;
    height: 450px;
    border: 20px solid #838b64;
}

h3.meetcardo2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    min-width:35%;
    font-size: 1.3em;
    border: 1px solid #7c897e;
}
h3.meetcardo2:hover{
    color: white;
}


div.one{
    margin: 10px 0;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }
  footer {
    background-color: #838b64;
    margin: 10px 0 0 0;

}
footer h2 {
    font-size: 1.5em;
    font-weight: bold;
}
footer > div,
footer > .divider {
    display: inline-block;
    vertical-align: middle;   
}
footer > div {
    padding: 1%;
    text-align: center;
    width:30%;
}

footer > .divider {
    font-style: normal;
    height: 240px;
    border: 1px solid #888;
    -webkit-box-shadow: 1px 2px 1px #ccc;
    box-shadow: 1px 2px 1px #ccc;
}
div.contactinfo{
    text-align: center;
}
img.facebook{
    width: 50px; 
    height:50px;
    margin: 5px; 
    opacity: 0.75;
    border-radius: 5px;
    display: inline-block;
}